<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojos</title>
    </head>
    <body>
        <h2>Enter info about ninjas!</h2>
        <form action="" method="post">
            <input type="text" name="first_name" placeholder="First Name">
            <input type="text" name="last_name" placeholder="Last Name">
            <input type="email" name="email" placeholder="email">
            <button type="submit" name="button">Submit</button>
        </form>
    </body>
</html>
