<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Wall</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/my_style_sheet.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.css')}}">
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h3>Welcome to the Wall, {{ session['the_wall']['first_name'] }}!</h3>
            </div>
            <div id="main_content">
                <h4>Post a message</h4>
                <form action="/the_wall/{{ session['the_wall']['id'] }}/post" method="post">
                    <textarea name="message" rows="8" cols="80"></textarea><br>
                <input type="submit" value="Post Message">
                </form>

                {% for message in all_messages %}
                <h5>{{session['the_wall']['first_name']}} {{session['the_wall']['last_name']}}:</h5>
                    <p> {{ message['message'] }} - {{message['created_at']}} </p>
                    <!-- <p> messageID: {{ message['id'] }} </p> -->
                    <a id="comments" href="/the_wall/{{ message['id'] }}/comment">Show Comments for Message {{ message['id'] }}</a>
                    <form action="/the_wall/{{ message['id'] }}/comment" method="post">
                        <textarea name="comment" rows="8" cols="40"></textarea> <br>
                        <input type="submit" value="Comment">
                    </form>
                {% endfor %}
                {% if comments %}
                <h2>Comments</h2>
                <p> {{ show_comments[0]['comment'] }} </p>
                {% endif %}



                <!-- each message needs a unique form for its comments -->
                <!-- that form should be right after the message and all the other comments -->
            </div>
            <p>users dictionary: {{users}}</p>
            <p>all_messages dictionary: {{all_messages}}</p>
            <p>all_comments dictionary: {{all_comments}}</p>
            <p>current users ID: {{session['the_wall']['id']}}</p><br>
            <!-- <p>Get messages query: {{ get_messages}}</p> -->
            <p>Get comments query: {{ show_comments }}</p>
            <!-- takes the user to messages AND comments -->
            <!-- <a href="/the_wall/{{session['the_wall']['id']}}/comment">{{ session['the_wall']['first_name'] }}'s Messages and Comments</a>

            <form action="/the_wall/message_id/comment" method="post">
                <textarea name="comment" rows="8" cols="40"></textarea> <br>
                <input type="submit" value="Submit">
            </form> -->

            <a href="/logout">Logout</a>
        </div>
    </body>
</html>
