<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>INDEX</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_and_registration_app/css/my_style_sheet.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
</head>
    <body>
        <div id="container">
            <div id="header">
                <h3>Hello {{request.session.first_name}}!!!</h3>
                <h3>{{request.session.first_name}} -  {{request.session.user_id}} </h3>

            </div>
            <div id="maincontent">
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                <form action="{% url 'secret:new' %}" method="post">
                    {% csrf_token %}
                    <textarea name="secret" placeholder="Your Secret here...."rows="8" cols="80"></textarea>
                    <input type="submit" name="" value="Post">
                </form>
                <a href="{% url 'secret:popular' %}">Most Popular Secrets</a><br>
                <a href="{% url 'secret:logout' %}">Logout</a>

                <h4>Recent Secrets</h4>

                {% for secret in recent_secret %}
                    <ul>
                        <li>{{secret.secret}} -  {{secret.created_at}} - User ID: {{request.session.user_id}} {{current_user_id.id}}<a href="{% url 'secret:like' request.session.user_id %}">like</a> <a href="{% url 'secret:delete' request.session.user_id %}">Delete</a> (likes:{{secret.likes}}) </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
