<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>INDEX</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_and_registration_app/css/my_style_sheet.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
</head>
    <body>
        <h1>Hello {{request.session.first_name}}!!!</h1>
        <form action="{% url 'secrets:home' %}" method="post">
        <textarea name="secret" placeholder="Your Secret here...."rows="8" cols="80"></textarea>
        <input type="submit" name="" value="Post">
        </form>
        <a href="#">Most Popular Secrets</a>

        <h1>Recent Secrets</h1>
    </body>
</html>
