<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>POPULAR</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'login_and_registration_app/css/my_style_sheet.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    </head>
    <body>
        <div id="container">
            <h1>Most Popular Secrets</h1>
            <div id="maincontent">
                {% for secret in secrets %}
                <ul>
                    <li>{{secret.secret}} -  {{secret.created_at}} - {{secret.user_id}} (likes:{{secret.likes}}) </li>
                </ul>
                {% endfor %}
                <a href="{% url 'secret:index' %}">back</a>
            </div>
        </div>
    </body>
</html>
