<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index page for Hello Kitty</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style_sheet.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.css')}}">
        <!-- <script type="text/javascript" src=" {{ url_for('static', filename='js/my_script.js') }}"></script> -->
    </head>
    <body>
        <h1>Hello Kitty</h1>
        <img src="{{ url_for('static', filename='images/Hello_Kitty_Pink.jpg')}}" alt="hello kitty pic">
        {{ session['counter']}}
        {% with messages = get_flashed_messages()%}
        {{messages}}
            {% for message in messages %}
                    {% if message == 'FILL ME IN! I need a name!' %}
                        <p class="green white-text"> {{ message }} </p>
                    {% elif message == 'email must be a valid email' %}
                    <p class="red white-text"> {{ message }} </p>
                    {% endif %}
                <p>{{message}}</p>
            {% endfor %}
        {% endwith %}
        <p> {{ age }}</p>
        <p> {{ job }}</p>
        <form action="/users" method="post">
            <input type="hidden" name="id" value="{{session['counter']}}">
            <input type="text" name="first_name" placeholder="First Name">
            <input type="email" name="email" placeholder="Joe@somethinghere.net">
            <button type="submit" value="send" name="button">Send Me!</button>
        </form>
        <a href="/clear">clear session</a>
    </body>
</html>
