* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    /*background-color: gray;*/
}

#ninjas img{
    width: 200px;
    height: 200px;
    display: inline-block;
}

#turtule img{
    width: 200px;
    height: 200px;
    display: inline-block;
}
