<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninja</title>
        <link rel="stylesheet" type="text/css" href=" url_for('static', filename='css/my_style_sheet.css') ">
    </head>
    <body>
        <div id="header">
            <h1>Teenage Mutant Ninja Turtles</h1>
        </div>
        <div class="Heros">
            <h3>Leonardo</h3>
            <img src="{{ url_for('static', filename='images/leonardo.jpg') }}" alt="Leonardo">
            <a href="/ninja/{{ turtles['blue'] }}">More on Leonardo</a>
        </div>
        <div class="Heros">
            <h3>Donatello</h3>
            <img src="{{ url_for('static', filename='images/donatello.jpg') }}" alt="Donatello">
            <a href="/ninja/{{turtles['purple'] }}">More on Donatello</a>
        </div>
        <div class="Heros">
            <h3>Raphael</h3>
            <img src="{{ url_for('static', filename='images/raphael.jpg') }}" alt="Raphael">
            <a href="/ninja/{{turtles['red'] }}">More on Raphael</a>
        </div>
        <div class="Heros">
            <h3>Michelangelo</h3>
            <img src="{{ url_for('static', filename='images/michelangelo.jpg') }}" alt="Michaelangelo">
            <a href="/ninja/{{turtles['orange'] }}">More on Michelangelo</a>
        </div>
    </body>
</html>
