<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ninja</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style_sheet.css')}}">
        <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/materialize.css')}}"> -->

    </head>
    <body>
        <div id="header">
            <h1>Teenage Mutant Ninjas</h1>
        </div>
            <div id="ninjas">
                <!-- inserting the value for the image -->
                {% if ninjas %}
                    {% for ninja in ninjas %}
                        <img src="../static/{{ninjas[ninja]}}">
                    {% endfor %}
                {% endif %}

                {% if turtle %}
                    <img src="../static/{{turtle['img']}}"><br>
                    <a href="/ninja">Back to Ninjas</a>
                {% endif %}

                {% if ninjas %}
                <p>Leonardo</p>
                <p>Donatello</p>
                <p>Raphael</p>
                <p>Michelangelo</p>
                {% endif %}

                {% if turtle %}
                <p>{{turtle['name']}} ({{turtle['color']}})</p>
                {% endif %}
            </div>
            <a href="/">Beginning</a>
    </body>
</html>
