<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Great Number Game</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/my_style_sheet.css')}}">

    </head>
    <body>
        <div id="container">
            <h1>Welcome to the Great Number Game</h1>
            <h3>I am thinking of a number between 1 and 100</h3>
            <h3>Take a guess!</h3>
            <form action="/" method="post">
                <input type="hidden" name="action" value="guess">
                <input type="text" name="guess">
                <input type="submit" value="Submit">
            </form>

            <!-- <p>Random generated number: {{ session['random'] }}</p>
            <p>guessed number: {{ session['guess'] }}</p> -->

    <!-- if statement comparing the guess to session['random'] -->
            <div id="game_results">
            {% if session['guess'] == 0 %}
                <p id="begin"> Lets Play!!!</p>
            {% elif session['answer'] == 'Guess is too low' %}
                <p class='wrong'> {{ session['guess'] }} is too low</p>
            {% elif session['answer'] == 'Guess is too high' %}
                <p class='wrong'> {{ session['guess'] }} is too high</p>
            {% else %}
                <p id='correct'>CORRECT!! {{ session['guess'] }} is the number</p>
            {% endif %}
            </div>
            <a href="/clear">Restart Game</a>
            <a href="/test">Test output in terminal</a>
        </div>
    </body>
</html>
