<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
    </head>
    <body>
        <h1>TEST</h1>
        <div id="container">
            <p>TEST TEST TEST</p>
            <form action="/results" method="post">
                Name: <input type="text" name="name"><br>
                Dojo Location: <select name="location">
                    <option value="Silicon Valley">Silicon Valley</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Dallas">Dallas</option>
                    <option value="Washington D.C.">Washington D.C.</option>
                    <option value="Berkeley">Berkeley</option>
                    <option value="Orange County">Orange County</option>
                    <option value="Chicago">Chicago</option>
                </select><br>
                Favorite Language:<select name="fav_language">
                    <option value="Python">Python</option>
                    <option value="LAMP">LAMP</option>
                    <option value="iOS Swift">iOS Swift</option>
                    <option value="Ruby on Rails">Ruby on Rails</option>
                    <option value="C#/ .NET CORE">C#/ .NET CORE</option>

                </select>

            </form>

        </div>
    </body>
</html>
