<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Full Friends</title>
    </head>
    <body>
        <div id="container">
            <h1>Full Friends</h1>
            {{ friends }}
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Occupation</th>
                    <th>Actions</th>
                </tr>
                {% for friend in friends %}
                <tr>
                    <td>{{friend['first_name']}}</td>
                    <td>{{friend['last_name']}}</td>
                    <td>{{friend['occupation']}}</td>
                    <td>
                        <form action="/friends/{{friend['id']}}/edit">
                            <input type="submit" value="Edit">
                        </form>
                        <form action="/friends/{{friend['id']}}/delete" method="POST">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div id="form">
                <form action="/friends" method="post">
                    <label for="first_name">First Name:<input type="text" name="first_name"></label><br>
                    <label for="last_name">Last Name:<input type="text" name="last_name"></label><br>
                    <label for="occupation">Occupation:<input type="text" name="occupation"></label>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>
