body{
    padding: 100px 200px 200px 200px;
    background-color: #262216;
}

h1{
    text-align: center
}

#container{
    background-color: #49412c;
    padding:50px;
    border-radius: 100px;
}

#header{
    background-color: #b0a18e;
    padding:25px;
    border-radius: 100px;
}

#maincontent{
    background-color: #97743a;
    margin-top: 20px;
    padding:35px;
    border-radius: 100px;
}

#success_message{
    text-align: center;
}

#262216
#49412c
#97743a
#b0a18e
