<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Email Validation</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/my_style_sheet.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.css')}}">
    </head>
    <body>
        <div id="container">
            <h1>Enter email</h1>
            <div id="flashed_messages">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="red white-text"> {{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <form action="/email" method="post">
                <label for="email">Email Address:<input type="text" name="email" id="email"></label>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
