<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Email Validation</title>
    </head>
    <body>
        <h1>Enter email</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p> {{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/email" method="post">
            <label for="email">Email Address:<input type="text" name="email" id="email"></label>
            <input type="submit" value="Submit">
        </form>
        <div id="email_display">
            {{ all_emails }}
            <h2>Email Addresses Entered:</h2>
            {% for email in all_emails %}
                <p>{{ email['email'] }} - {{ email['created_at'] }}</p>
            {% endfor %}
        </div>
        <a href="/clear">Clear Session</a>
    </body>
</html>
