body{
    margin: auto;
    width: 50%;
}

img{
    width: 300px;
}

h3{
    text-align: center;
}

.Heros{
    width: 500px;
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    margin: 15px;
}
